.header__logo {
    max-width: 142px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        max-width: calc(103.74px + (142 - 103.74) * ((100vw - 425px) / 343));
    }
}

@media screen and (max-width: 636px) {
    .header__logo {
        padding-left: calc(27px + (0 - 27) * ((100vw - 425px) / 211));
    }
}

@media screen and (max-width: 425px) {
    .header__logo {
        max-width: 103.74px;
        padding-left: 27px;
    }
}