.profile__subtitle {
    color: #fff;
    margin: 0 0 0 24.375px;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 309px;
}

@media screen and (max-width: 977px) {
    .profile__subtitle {
        font-size: calc(14px + (18 - 14) * ((100vw - 635px) / 342));
        line-height: calc(17px + (22 - 17) * ((100vw - 635px) / 342));
        max-width: calc(189px + (309 - 189) * ((100vw - 635px) / 342));
    }
}

@media screen and (max-width: 635px) {
    .profile__subtitle {
        grid-column: 3/4;
        font-size: 14px;
        line-height: 17px;
        max-width: 189px;
    }
}

@media screen and (max-width:425px) {
    .profile__subtitle {
        grid-column: 1/6;
        grid-row: 3/4;
        justify-self: center;
        margin-left: 0;
    }
}