.gallery__like-counter {
    color: black;
    grid-column: 2/3;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-top: 3px;
}