.header__status-text {
    font-family: 'Inter', 'Arial', 'sans-serif';
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 768px){
    .header__status-text {
        font-size: 14px;
    }
}