.popup__close_overlay {
    margin-right: -50px;
    margin-top: -50px;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 550px) {
    .popup__close_overlay {
        margin-right: calc(0px + (-50 + 0) * ((100vw - 425px) / 125));
    }
}

@media screen and (max-width: 425px) {
    .popup__close_overlay {
        margin-right: 0;
    }   
}