.profile__image {
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    grid-row: 1/4;
    grid-column: 1/2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:635px) {
    .profile__image {
        grid-column: 2/3;
    }
}

@media screen and (max-width:425px) {
    .profile__image {
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 0 auto 26px;
    }
}