.content {
    padding: 0 48px 0 48px;
}

@media screen and (max-width: 976px) {
    .content {
        padding-left: calc(27px + (48 - 27) * ((100vw - 768px) / 208));
        padding-right: calc(27px + (48 - 27) * ((100vw - 768px) / 208));
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0 calc(19px + (27 - 19) * ((100vw - 636px) / 132)) 0 calc(19px + (27 - 19) * ((100vw - 636px) / 132));
    }
}

@media screen and (max-width: 635px) {
    .content {
        padding: 0 19px 0 19px;
    }
}